.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: $site-white;

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include center-content();
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgba($site-black, 0.4),
        rgba($site-black, 0.4)
      ),
      url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .callout {
      margin-top: 90px;
      width: 500px;
      min-height: 200px;
      text-align: center;
      margin: 0 auto;
      margin-top: 70px;

      h1 {
        color: $site-white;
        font-size: 60px;
        margin-bottom: 0;
        font-family: $roboto;
      }

      .disc {
        color: $site-white;
        font-size: 20px;
        font-style: italic;
        margin-top: 25px;
        margin-bottom: 55px;
        font-family: $lato;
      }

      .site-button {
        text-decoration: none;
        color: $site-white;
        font-size: 15px;
        padding: 6px 10px;
        background-color: $site-blue;
        font-weight: bold;
        font-family: $lato;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;

    .hero {
      height: 75%;

      .callout {
        h1 {
          margin-bottom: 55px;
        }
        p {
          display: none;
        }

        .site-button {
        }
      }
    }
  }
}
