* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $lato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

input {
  width: 529px;
  height: 60px;
  font-size: 16px;
  padding-left: 20px;
  background-color: $site-input-bg;
  border: none;
  color: rgba($site-black, 0.5);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba($site-black, 0.5);
  }
}
.submit-button {
  background-color: $site-blue;
  border-radius: 25px;
  color: $site-white;
  width: 813px;
  height: 60px;
  margin-left: -5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
