//site width
$site-full-width: 1280px;

// site colors
$site-white: #ffffff;
$site-blue: #79addc;
$site-black: #000000;
$site-input-bg: #f5f5f5;

//fonts
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;
