nav {
  width: 980px;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid $site-white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 42px;
    width: 92px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    a {
      text-decoration: none;
      color: $site-white;
      font-size: 15px;
    }
    span {
      margin: 0 5px;
      color: $site-fuschia;
      font-size: 28px;
    }
  }
}
