.home {
  position: fixed;
  left: 25px;
  z-index: 99;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home h1 {
  color: lightcoral;
  position: relative;
  font-size: 25px;
  width: 75px;
  text-align: center;
  text-shadow: 1px 1px 2px whitesmoke;
}