.booking {
  width: 100%;
  height: 615px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/schedule_1600x900.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  .booking_img {
  }
  .booking_details {
    text-align: center;
    font-family: "Montserrat", sans-serif;

    h1 {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 550;
    }
    .site-button {
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      color: white;
      padding: 5px 20px;
      background-color: #e74c3d;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 550;
    }
  }
}
