.staff {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  .staff_topper {
    width: 75%;
    background-color: #666666;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
  }
  .row_1 {
    // margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5px;

    img {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 5px;
    }
  }
  .row_2 {
    // margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;

    img {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 5px;
    }
  }
}
